body {
  margin:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-family: BrownPro, Brown, futura, helvetica, arial, sans-serif;
  font-size: 11px;
  min-height:100%;
  overflow-y: scroll;
}

svg, svg text {
  font-family: Nunito, futura, helvetica, arial, sans-serif;
  font-weight:600;
}
svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  position:fixed;
  z-index:100;
  width:100%;
  padding:10px 20px;
  background-image:linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0.8), white, white);
  /*background:rgba(255,255,255,0.5);*/
  top:0;
  color:#777;
  font: 14px/1.5em helvetica, arial, sans-serif;
}

header > div {
  float:right;
  display:inline-block;
  background:inherit;
  position:relative;
}
#dataset,
header > button {
  color:inherit;
  background: none;
  outline:none;
  cursor:pointer;
  font:inherit;
  border:none;
  padding:0;
  margin:10px;
}
#dataset {
  display:inline-block;
  height:40px;
  background-color:white;
  border:1px solid #ddd;
  transition:background 200ms ease;
}
#dataset:hover {
  background:#fafafa;
}
header > button:hover {
  border-bottom:1px solid grey;
}

.modal {
  color:#222;
  background:rgba(0,0,0,0.3);
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:fixed;
  z-index:1000;
  display:none;
}
.modal.open {
  display:block;
}
.modal > div {
  background:hsl(5,5%,98%);
  margin: 10vh auto;
  width:80%;
  max-width:700px;
  height:80vh;
  border-radius:6px;
  box-shadow: 0 0 20px black;
  font-size:14px;
  line-height:1.5em;
}
.modal header {
  padding: 0 1em;
  background:white;
  white-space: nowrap;
  overflow-x:auto;
  cursor:move;
  box-shadow: 0 0 1em rgba(0,0,0, 0.15);
}
.modal header .tab {
  background: hsl(5, 5%, 85%);
  display:inline-block;
  margin-top:0.8em;
  padding: 0.5em 1em;
  cursor:pointer;
  border-radius: 3px 3px 0 0;
  border:1px solid hsl(5, 5%, 85%);
  border-bottom:none;
  text-transform: uppercase;
  font-size:0.85em;
  letter-spacing:0.03em;
  color:#555;
}
.modal header .tab.active {
  color:#222;
  background: hsl(5, 5%, 98%);
}

.modal .page {
  position:relative;
  padding: 2em;
  padding-top: 0.5em;
  display:none;
  height:calc(100% - 5.6em);
  overflow-y:auto;
}
.modal .page.active {
  display:block;
}
.modal svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

#toggle-taxonomy {
  font-size:0.9em;
  text-decoration:underline;
  cursor:pointer;
  color:steelblue;
  float:right;
}

#taxonomy > ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
#taxonomy > ul ul {
  list-style-type: none;
  padding:0;
  padding-left: 1.5em;
}
#taxonomy li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#taxonomy input[type="checkbox"] {
  margin-right: 0.5em;
}
#taxonomy input.jscolor {
  margin-left: 0.5em;
  width:4em;
  text-align:center;
  display:inline-block;
  outline:none;
  border:1px solid transparent;
  padding:0.4em;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
#taxonomy input.jscolor[disabled="true"] {
  border-color:#ccc;
  box-shadow: none;
  pointer-events:none;
  opacity:0.5;
}


#tooltip {
  width:175px;
  background:hsl(40,10%,98%);
  margin-bottom:10px;
  box-shadow: 0 0 10px #555;
  border-radius:3px;
  position:absolute;
  padding: 8px 0;
  font: 14px helvetica, arial, sans-serif;
  font-weight: 400;
  color:#444;
  display:none;
}
#tooltip.active {
  display:block;
}
#tooltip p {
  padding: 4px 14px;
  margin:0;
  cursor:default;
}
#tooltip p:hover {
  background-color: rgb(77, 157, 250);
  color:white;
}
#tooltip hr {
  border-width: 0;
  border-top:1px solid #ddd;
}


/* svg styles for main vis */
#main {
  margin-top:100px;
  margin-bottom:20px;
  position:relative;
}
#main text {
  text-anchor: middle;
}
.row-drag {
  stroke-width:2;
  stroke-dasharray: 2,1;
  stroke:rgba(100,100,100,0.3);
  transition: stroke 300ms ease;
  cursor: row-resize;
}
.row-drag:hover {
  stroke-dasharray:none;
  stroke:rgba(100,100,100,0.8);
}

.word text {
  font-size:16px;
  fill:black;
}
.word path {
  stroke:#333;
  fill:none;
}
.word .word-text {
  cursor: pointer;
}

.word-cluster text,
.word .word-tag {
  font-size: 12px;
  cursor: text;
}

.word-cluster text,
.word .word-tag {
  fill:#333;
}
.word .syntax-tag {
  fill: rgb(208, 150, 143);
}
.toggle-syntax .syntax-tag, .toggle-syntax .syntax-link {
  display:none;
}

.editing .word-tag,
.editing-text,
.editing text {
  fill: #fff !important;
}

.editing-rect,
.editing rect {
  fill:#a94442;
}

.link path.polyline {
  stroke: #6590b4;
  fill: none;
}
.link {
  font-size: 12px;
  fill:#6590b4;
  stroke-width:1.5px;
}
.link.syntax-link {
  fill: #999;
}
.syntax-link path.polyline {
  stroke: #999;
  fill: none;
}

.link:hover {
  stroke-width:2.5px;
}
