# build files
build/
# needed for GH Pages
#dist/

# npm related

/node_modules/*

#OS files and Swap Files
*~
*.lock
*.DS_Store
*.swp
*.out

#Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# IntelliJ
.idea